<h1>Welcome to Web Security Fundamentals practical exam</h1>
<p>Name: Slesha Vemuganti</p>
<p>Student ID: 82938</p>
<p>Learning Outcomes:</p>
  <p>1. Understand network industry standards such as: the OSI model, Routing Protocols, IP Addresses and Subnetting, MAC Addressing.</p>
  <p>2. Explain the concepts of confidentiality, availability and integrity.</p>
  <p>3. An understanding of professional, ethical, legal, security and social issues and responsibilities.</p>
  <p>4. Recent hacks along with solutions.</p>
  <p>5. Creating a ruby on rail project, pushing it to github and later deploying in heroku.</p>
